@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-2" style="">
            <img src="/Images/notfound404.png" style="width: 300px;" alt=""/>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-8" style="text-align: center; margin: 90px 0 0 0;">
            <h2>
                <strong>Ошибка 404!</strong>
                <br/>
                Страница не найдена
                <br/>
            </h2>
        </div>
    </div>
</div>
