@using DmRad.ContentProjects.Common.Models;
@{
    Layout = null;
}
@model HeadersModel

<div class="panel-heading">
    @Html.Partial("_PageInfoPartial", Model.PageInfo)
</div>
<div class="panel-body" id="recordsList">
    <ul class="list-group" style="margin-top: 20px;">
        @if (Model != null && Model.Headers.Any())
        {
            foreach (var header in Model.Headers)
            {
                <div class="row">
                    <div class="col-sm-4">
                        <a href="@Url.Action("Record", "Home", new {id = header.Id})">
                            @header.Header
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-danger" onclick="deleteRecord('@header.Id');">
                            <span class="glyphicon glyphicon-trash"></span> Удалить
                        </button>
                    </div>
                </div>
            }
        }
        else
        {
            <text>Записи отсутствуют</text>
        }
    </ul>
</div>